VITE_API_URL=http://localhost:3000
# Bridge local de Electron para RFID
CONMED_RFID_ENABLE_SIMULATION=true
CONMED_RFID_ADB_PATH=
# Los placeholders disponibles son:
# {{deviceId}}, {{serialPortPath}}, {{androidDeviceId}}, {{tagId}}, {{payloadHex}}, {{connectionMethod}}
CONMED_RFID_SERIAL_READ_TAG_COMMAND=
CONMED_RFID_SERIAL_READ_PAYLOAD_TEXT_COMMAND=
CONMED_RFID_SERIAL_WRITE_PAYLOAD_COMMAND=
CONMED_RFID_ANDROID_READ_TAG_COMMAND=
CONMED_RFID_ANDROID_READ_PAYLOAD_TEXT_COMMAND=
CONMED_RFID_ANDROID_WRITE_PAYLOAD_COMMAND=
