:root {
  background-color: rgb(211, 211, 211);
  margin: 0;
  height: 100%;
  @media (max-width: 1024px) {
  }
}

body{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
  }
}
h1,
h2,
p {
  color: white;
}
h1 {
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  @media (max-width: 1024px) {
  }
}
p {
  font-size: small;
}

.square{
  background-color: rgb(86, 86, 86);
  padding: 50px;
  width: 600px;
  height: 600px;
}